<!doctype html>
<html lang="en" ng-app="chat">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Chat App</title>
    <link rel="stylesheet" href="../assets/lib/angular-material/angular-material.css" type="text/css" />
    <link rel="stylesheet" href="../assets/styles/main.css" type="text/css" />
    <!--<base href="/">-->
</head>

<body layout="column">

    <div ng-view layout="column" flex></div>
    
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <script type="text/javascript" src="../assets/lib/angular/angular.js"></script>
    <script type="text/javascript" src="../assets/lib/angular-socket-io/socket.js"></script>
    <script type="text/javascript" src="../assets/lib/angular-material/angular-material.js"></script>
    <script type="text/javascript" src="../assets/lib/angular-animate/angular-animate.js"></script>
    <script type="text/javascript" src="../assets/lib/angular-messages/angular-messages.js"></script>
    <script type="text/javascript" src="../assets/lib/angular-aria/angular-aria.js"></script>
    <script type="text/javascript" src="../assets/lib/angular-route/angular-route.js"></script>
    <script type="text/javascript" src="../src/app.js"></script>
    <script type="text/javascript" src="../src/main/main.service.js"></script>
    <script type="text/javascript" src="../src/main/main.controller.js"></script>
    <script type="text/javascript" src="../src/auth/auth.service.js"></script>
    <script type="text/javascript" src="../src/auth/auth.login.controller.js"></script>
    <script type="text/javascript" src="../src/auth/auth.register.controller.js"></script>
    <script type="text/javascript" src="../src/auth/auth.logout.controller.js"></script>
</body>

</html>