<md-content class="background" flex layout="row" layout-align="center center" md-theme="main-theme">
    <md-card>
        <md-card-header class="sign-header">
            <md-card-header-text layout-align="center center">
                <h1 class="md-title">Sign Up</h1>
            </md-card-header-text>
        </md-card-header>
        <md-card-content>
            <form layout="column" name="signUpForm" ng-submit="register.signUp()" novalidate>
                <md-input-container>
                    <label for="name">Name</label>
                    <input id="name" type="text" name="name" ng-model="register.signUpForm.name" required>
                    <div ng-messages="signUpForm.name.$error">
                        <div ng-message="required">Name required.</div>
                    </div>
                </md-input-container>
                <md-input-container>
                    <label for="username">Username</label>
                    <input id="username" type="text" name="username" ng-model="register.signUpForm.username" required>
                    <div ng-messages="signUpForm.username.$error">
                        <div ng-message="required">Username required.</div>
                    </div>
                </md-input-container>
                <md-input-container>
                    <label for="password">Password</label>
                    <input id="password" type="password" name="password" ng-model="register.signUpForm.password" required>
                    <div ng-messages="signUpForm.password.$error">
                        <div ng-message="required">Password required.</div>
                    </div>
                </md-input-container>
                <md-card-actions layout="row" layout-align="center">
                    <md-button type="submit" class="md-raised md-primary button" flex>Sign Up</md-button>
                </md-card-actions>
            </form>
        </md-card-content>
    </md-card>
</md-content>